.wrappers-mission {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 0;
    top: 50px;
}

.connecting {
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
}

.divider-1 {
    margin: 0 130px;
}